<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.ico">
    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Charm|Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <div class="main-content">
        <img class="topCorner" src='/../img/sunnyCartoonTransparent.png' height="160" width="160">
        <img class="wet" src='/../img/cloudRain.png' height="128" width="128">
        <script src="https://kit.fontawesome.com/76c6b985c5.js"></script>
        {{>header}}

        <h3>Find Any Forecast</h3>

        <form>
            <input type="text" placeholder="Enter Any City" onfocus="this.placeholder=''"
                onblur="this.placeholder='Enter Any City'">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <br></br>
        <p id="message-2"></p>



    </div>


    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>