body {
  color: #f1e8e8;
  background: rgb(10, 9, 9);
  font-family: arial;
  padding: 0 16px;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#message-1 {
  text-align: center;
  display: inline-block;
  justify-content: center;
  background: transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 20px;
  font-size: 2.2rem;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  color: #ffff00;
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px #000000;
}
#message-2 {
  display: inline-block;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px;
  margin-top: 30px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #fff;
}
.centerMessage {
  text-align: center;
}
.main-content {
  flex-grow: 1;
}
header {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

header:link {
  text-decoration: none;
  color: #112aeb;
}

h1 {
  text-align: center;
  font-size: 6.5rem;
  letter-spacing: 5px;
  margin-bottom: 16px;
  font-family: 'Racing Sans One', cursive;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #ff0f57;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa;
}
.forecastText {
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 5px;
  margin-bottom: 16px;
  margin-top: -20px;
  font-family: 'Racing Sans One', cursive;
  margin-left: auto;
  margin-right: auto;
  color: #736aff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9;
}

header a {
  color: #ffff0f;
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
  text-align: center;
}

.centerPortrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

input {
  margin: 0 auto;
  padding: 8px;
  background: transparent;
  box-shadow: inset 0 0 20px #ff0f57;
  border: none;
  color: #0fff0f;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  width: 300px;
}

button {
  background: transparent;
  font-size: 1.5rem;
  color: #0fff0f;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.wet {
  position: absolute;
  top: -20px;
  left: 665px;
}
.topCorner {
  position: absolute;
  top: 70px;
  left: 1200px;
}
h2 {
  color: #0fffff;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  color: #0fff0f;
  /* text-shadow: 0 1px 0 #efcbef, 0 2px 0 #edc4ed, 0 3px 0 #ebbceb,
    0 4px 0 #e9b3e9, 0 5px 0 #e6a9e6;*/
  font-size: 2.25rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 5px;
  text-align: center;
}

::placeholder {
  text-align: center;
  color: #0fff0f;
}
form {
  padding: 4px;
  box-shadow: inset 0 0 10px #000000;
  background: rgb(255, 15, 87);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}
.center {
  text-align: center;
  padding: 10px;
  background: #ff0f57;
  margin: 30px auto;
  font-size: 1.5rem;
  max-width: 500px;
  color: #0fff0f;
  box-shadow: inset 0 0 10px #000000;
}
footer {
  color: #e6ff01;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
