<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <link rel="icon" style='color:white;' href="../img/weather.ico">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="./css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="./img/cartoon.jpg" height="250px" width="250px" />
  </div>
  {{>footer}}
</body>


</html>